div.tablero {
    margin: auto;

    width: 640px;
    height: 640px;

    border-color: black;
    border-style: solid;
    border-width: 2px;
}

div.tablero__fila {
    display: flex;

    width: 640px;
    height: 80px;

    border-color: black;
    border-style: solid;
    border-width: 0px;
}

div.tablero__black {
        
    display: flex;
    width: 80px;
    height: 80px;

    margin: 0%;
    padding: 0%;

    background-color: #663300;
}

div.tablero__white {
    
    display: flex;
    width: 80px;
    height: 80px;

    margin: 0%;
    padding: 0%;

    background-color: whitesmoke;
}

a:has(img){
    margin: auto;
}

div[class^="tablero"] a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65px;
  }

div[class^="tablero"] a[href^=peon] img {
display: block;
margin-left: auto;
margin-right: auto;
width: 55px;
}